@font-face {
    font-family: k812;
    src: url(assets/k8x12S.ttf);
}

@font-face {
    font-family: zen-r;
    src: url(assets/ZenKakuGothicNew-Regular.ttf);
}

@font-face {
    font-family: zen-m;
    src: url(assets/ZenKakuGothicNew-Medium.ttf);
}

body {
    background-image: linear-gradient(#ffffff00, #b3c5ca 80%), 
        url("assets/skyday_rev.jpg");
    background-repeat: no-repeat, no-repeat;
    background-attachment:fixed,fixed;
    background-position: top, top;
    background-origin: border-box, border-box;
    background-size: cover, cover;
    font-family: "zen-r", sans-serif;
    margin: 0px;

}

.grid {
    padding: 10px;
    text-align: center;
    color: #ececec;
    /*background-image: linear-gradient(hsl(0, 0%, 31%) 30%, hsl(0, 0%, 17%));*/
    
    
}

nav .icon{
    display: none;
}



/*nav h1 {
    padding: 0;
    margin: 0 15px;
    font-size: 18pt;
    font-weight: normal;
    letter-spacing: 0.2rem;
    text-decoration: none;
    text-align: left;
    font-family: k812;
}*/

.kurage{
    display:block;
    width:50px;
    border-radius: 50%;
    align-self: center;
}

.menuitems ul li{
    list-style: none;
    padding: 0;
    display: inline;
    margin: 0 15px;
    font-size: 12pt;
}

.grid {
  display: grid;
  justify-self: center;
  grid-template-columns: repeat(7, 12.5vw);
  grid-auto-rows: minmax(50px, auto);
  grid-gap: 10px;
  align-items: center;
  position: fixed;
  z-index: 2;
}

.menuitems {
  grid-column: 2 / -2;
}

.logo {
  grid-column: 1 / 2;
}

.topnav:before{
    content:"";
    display:block;
    position: fixed;
    left:0px;
    top:0px;
    z-index: 1;
    background-color: #242424;
    width:100vw;
    height:80px;
    border-bottom: 2px solid transparent;
    border-image:radial-gradient(#ffffff 60%, #574d7e) 1;
}

/*@media (max-width: 820px) {
    .logo{
        display: none;
    }
}*/

nav a {
    text-decoration: none;
    color: #888;
    font-weight: bold;
    transition: 0.3s;
}


    

main {
    position: absolute;
    top:80px;
    justify-self:center;
    display: grid;
    grid-template-columns: auto minmax(550px,80vw) auto;
    grid-auto-rows: minmax(50px, auto);
    grid-gap: 10px;
    color: #080808;
    z-index: 0;

}

@media (max-width:600px) {
    main{
        grid-template-columns: auto 0.94fr auto;
    }
}

.conts{
    position:relative;
    grid-column: 2 / -2;
    background-color: #e6ddee86;
    margin: 50px 0px;
    padding: 20px;
}

main {h1, h2, h3{
    font-weight: normal;
    font-family: zen-m;
    color:black;
}}

main h1{
    border-bottom: 2px dashed black;
}

main h2{
    border-left: 4px solid #9e679e;
    padding-left: 15px;
    margin-bottom: 30px;
}

@media (max-width: 600px) {
    .menuitems{
        visibility: hidden;
    }
    .logo{
            grid-column: 4 /5;
            justify-self:center;
        }
    .topnav a.icon {
        display:block;
        position: absolute;
        left: 0.1dvh;
        top: 15px;
        background-color: #242424;
        padding: 10px;
        z-index: 2;
    }
    .topnav.responsive {position: relative;}

    .topnav.responsive a.icon {
        position: absolute;
        left: 0.1dvh;
        top: 15px;
        background-color: #484848;
        padding: 10px;
    }
    .topnav.responsive a {
        float: none;
        display: block;
        text-align: left;
    }
    .topnav.responsive{
        .menuitems{
        visibility: visible;
        background-color: #242424;
        position: relative;
        display: block;
        z-index: 1;
        
        }
        .menuitems ul {
            list-style-type: none;
            margin: 0;
            padding: 0;
            
            
        }

        .menuitems ul li {
            display: block;
            text-align: center;
            justify-items:center;
            padding: 8px 16px;
            text-decoration: none;
        }
    }   

    /* Change the link and background color on hover */
    li a:hover {
        background-color: #555555;
        color: white;
    }
}

